.input-area {
  display: flex;
  align-items: center;
  padding: 20px;
}

.input-area-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.list {
  display: table;
  width: 100%;
  background-color: #282c34;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 50px;
}

.list-row {
  display: table-row;
}

.list-row > * {
  display: table-cell;
  padding: 10px;
}

.list-index {
  font-size: 20px;
  margin-right: 20px;
}