.input-area {
  display: flex;
  align-items: center;
  padding: 20px;
}

.input-area-input {
  font-size: 16px;
}

.input-area-button {
  font-size: 16px;
  margin-left: 10px;
}
.input-area-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.messages-area {
  overflow: scroll;
  max-height: calc(100vh - 65px);
}

.list {
  display: table;
  width: 100%;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.list-row {
  display: table-row;
}

.list-item-date {
  white-space: nowrap;
  font-size: 12px;
}

.list-item-message {
  width: 100%;
}

.list-item-message:hover {
  cursor: text;
}

.list-item-remove {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.list-item-remove:disabled {
  color: #ccc;
}

.list-item-remove:not(:disabled):hover {
  color: rgb(0, 255, 229);
  transform: scale(1.5);
}

.list-row > * {
  display: table-cell;
  padding: 10px;
}

.list-index {
  font-size: 20px;
  margin-right: 20px;
}